body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.container-fluid {
    overflow-wrap: break-word;    
    width: 100vw;
    background-color: white;
    float: right;
}

div {
    background-color: white;
}

img {
    margin: 2.5% inherit;
    width: 45%;
    float: right;
}

#banner {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    height: 20%;
    width: auto;
}
