body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.container-fluid {
    overflow-wrap: break-word;    
    width: 100vw;
    background-color: white;
    float: right;
    width: 100%; /* three containers (use 25% for four, and 50% for two, etc) */
    padding: 5px; /* if you want space between the images */
}

div {
    background-color: white;
}

img {
    margin: 5%;
    width: 50%;
    float: right;
}

#banner {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    height: 20%;
    width: auto;
}
