body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.container-fluid {
    overflow-wrap: break-word;    
    width: 100vw;
    background-color: white;
    float: right;
}

div {
    background-color: white;
}

p {
    font-family: "Times New Roman", Times, serif;
    text-decoration-color: black;
    text-decoration-line: none
}

img {
    margin: 2.5%;
    width: 40%;
    float: right;
}

#nav {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    text-align: right;
}

#banner {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    height: 20%;
    width: auto;
}

